<head>
    <title>CV de Hassan MAHMOOD</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="cv.css">
</head>
<body>
    <header>
        <h1>CV de Hassan MAHMOOD</h1>
    </header>
    
    <section>
        <div class="photo">
            <img src="Photo.jpg" alt="Ma photo de profil">
        </div>
        <div class="prez">
            <h2>Qui suis-je ?</h2>
            <p>Diplômé d'un Bachelor Système Réseau et Cloud Computing à l'ESGI.Je suis en formation Mastère Système Réseau et Cloud Computing à Paris et je suis en alternance en tant Ingénieur Administrateur Systeme chez Voltalis</p>
            <a href="CV_MAHMOOD_Hassan.pdf" download>Télécharger mon CV version Papier</a>
        </div>
        <div class="contact">
            <h2>Informations de contact</h2>
            <div class="contact-flex">
                <p>Nom : </p>
                <p>Hassan MAHMOOD</p>
            </div>
            <div class="contact-flex">
                <p>Adresse : </p>
                <p>58 Rue Robert Schumann 60100 Creil</p>
            </div>
            <div class="contact-flex">
                <p>Téléphone :</p>
                <p>06 22 90 11 61</p>
            </div>
            <div class="contact-flex">
                <p>Mail : </p>
                <p><a href="mailto:mahmood.hassan@outlook.fr">mahmood.hassan@outlook.fr</a></p>
            </div>
            <div class="contact-flex">
                <p>Permis </p>
                <p>B</p>
            </div>
            <div class="social">
                <a href="https://www.linkedin.com/in/hassan-mahmood60/"><img src="https://www.pierre-giraud.com/wp-content/uploads/2019/07/lk.png" alt="Logo Lk"></a>
            </div>
        </div>
    </section>
    
    <section>
        <h2>Expériences professionnelles</h2>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="voltalis.png" alt="Logo de Pierre Giraud"></a>
            </div>
            <div class="exp-info">
                <h3>Alternance Administrateur Système</h3>
                <h4>Voltalis</h4>
                <h4>Novembre 2021 - Aujourd'hui</h4>
            </div>
            <div class="exp-desc">
                <p>Gestion des tickets support informatique (Jira et GLPI); Administration Serveur Préprod Linux et Window;  
                 de Poste PC pour les nouveau employée; Création Comte et droit MYSQL; Créationmachine virtuel sous Promox</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="sereneo.jpg" alt="Logo de Sereneo"></a>
            </div>
            <div class="exp-info">
                <h3>Assistant Administrateur Exploitation Système et Réseau</h3>
                <h4>Sereneo</h4>
                <h4>Mars 2021  - Aout 2021 </h4>
            </div>
            <div class="exp-desc">
                <p>Création de procédure installation technique; Administration serveur Linux ( 3 Serveurs); Projet migration
                Jitsi sur un nouveau serveur; Support utilisateur; Installation Owncloud via Docker</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="sodexi.png" alt="Logo de PrestaShop"></a>
            </div>
            <div class="exp-info">
                <h3>Apprenti IT</h3>
                <h4>Sodexi</h4>
                <h4>Septembre 2018 - Aout 2020</h4>
            </div>
            <div class="exp-desc">
                <p>Gestion des tickets support informatique interne N1/N2/N3(GLPI); Inventaire du parc informatique (GLPI + Nytrio)
                   Masterisation des postes de PC (MDT et WDS; Brassage des prises de réseau (VLAN, Accès Réseau); Administration du  ;                  Serveur Windows AD, MDT et WDS; Administration du Serveur PDQ Deploy; Administration de poste PC client avec l'antivirus Sophos  Mise en place du Wifi sur un poste client à l'aide du Radius; Support utilisateur pour les clients de l’entreprise (TPE, Groupe international)</p>
            </div>
        </div>
    </section>
    
    <section>
        <h2>Formation</h2>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="esgi.jpg" alt="Logo ESGI"></a>
            </div>
            <div class="exp-info">
                <h3>Mastère Système Réseau et Cloud Computing</h3>
                <h4>Sept 2021 - 2023</h4>
            </div>
            <div class="exp-desc">
                <p>ESGI PARIS</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href="#"><img src="esgi.jpg" alt="Logo ESGI"></a>
            </div>
            <div class="exp-info">
                <h3>Bachelor Système Réseau et Cloud Computing</h3>
                <h4>Juillet 2021</h4>
            </div>
            <div class="exp-desc">
                <p>ESGI PARIS</p>
            </div>
        </div>
        <div class="exp">
            <div class="exp-logo">
                <a href=""><img src="promeo.png" alt=""></a>
            </div>
            <div class="exp-info">
                <h3>BTS Services Informatique aux organisations option Solutions d’Infrastructure, Système et Réseau </h3>
                <h4>Juillet 2020</h4>
            </div>
            <div class="exp-desc">
                <p>PROMEO Formation, SENLIS</p>
            </div>
        </div>
    </section>
    
    <section>
        <h2>Compétences</h2>
        <h3 class="h3gauche">Professionnelles</h3>
        <div class="comp">
            <p>Réseau</p>
            <div class="conteneur-barre"><span class="barre c100"></span></div>
        </div>
        <div class="comp">
            <p>Linux</p>
            <div class="conteneur-barre"><span class="barre c95"></span></div>
        </div>
        <div class="comp">
            <p>Windows</p>
            <div class="conteneur-barre"><span class="barre c90"></span></div>
        </div>
        <h3 class="h3gauche">Personnelles</h3>
        <div class="comp2">
            <p>Créativité</p>
            <p>90%</p>
            <div class="conteneur-barre2"><span class="barre c90"></span></div>
        </div>
        <div class="comp2">
            <p>Adaptation</p>
            <p>85%</p>
            <div class="conteneur-barre2"><span class="barre c85"></span></div>
        </div>
        <div class="comp2">
            <p>Sérieux</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
        <div class="comp2">
            <p>Pédagogie</p>
            <p>95%</p>
            <div class="conteneur-barre2"><span class="barre c95"></span></div>
        </div>
    </section>
    
    <section>
        <h2>Centres d'intérêt</h2>
        <figure class="interet">
            <img src="football.jpg" alt="Football">
            <figcaption>Football</figcaption>
        </figure>
        <figure class="interet">
            <img src="sport.jpg" alt="Sport">
            <figcaption>Sport</figcaption>
        </figure>
        <figure class="interet">
            <img src="https://www.pierre-giraud.com/wp-content/uploads/2019/07/gaming.jpg" alt="Gaming">
            <figcaption>Jeux vidéos</figcaption>
        </figure>
        <figure class="interet">
            <img src="mangas.jpg" alt="Manga">
            <figcaption>Manga</figcaption>
        </figure>
    </section>
